.Settings{
    background: var(--main-container-color);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100px;
}
.Settings .mode{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Settings button{
    border: none;
    background: transparent;
    border-radius: 50%;
    font-size: 4rem;
    padding: 1rem;
    color: var(--main-text-color);
}