.Time{display:flex;gap:1rem}
.Time *{font-size:6vw}
.day{display:flex;flex-direction:column;align-items:center}
.day p,.clock p{margin-top:0;opacity:.75;font-size:4vw}
.clock{display:flex;flex-direction:column;align-items:center}