.calculator{
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.container{
    background: var(--main-container-color);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.result .text{
    background: #142B59;
    cursor: default;
    line-height: normal;
    border: none;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    width: 200px;
    font-size: 22px;
    text-align: right; 
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0em;
}